<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<!-- 系统名称 -->
	<display-name>bjsgsj</display-name>

	<!-- 上下文参数 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/applicationContext.xml</param-value>
	</context-param>

	<!-- 中文乱码过滤器（使用Spring提供的） -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Struts2 调度过滤器，用来初始化 Struts2，并处理所有的 Web 请求 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 自动加载 Listener，在 web.xml 启动的时候由 ContextLoader 声明式创建 ApplicationContext -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 初始化 FreeMarker，为了在FreeMarker模板中使用JSP标签 -->
	<servlet>
		<servlet-name>JspSupportServlet</servlet-name>
		<servlet-class>org.apache.struts2.views.JspSupportServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- 验证码 --> 
	<servlet>
		<servlet-name>verifyCode</servlet-name> 
		<servlet-class>com.bjsgsj.site.servlet.VerifyCodeServlet</servlet-class> 
	</servlet>
	<servlet-mapping>
		<servlet-name>verifyCode</servlet-name> 
		<url-pattern>/verifyCode</url-pattern> 
	</servlet-mapping>
	
	<!-- 欢迎页 -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<!-- 处理 404 找不着资源 -->
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/ftl/404.ftl</location>
	</error-page>
	
	<!-- 处理 500 系统内部错误 -->
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/ftl/500.ftl</location>
	</error-page>
</web-app>
